*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;;
}

body{
   
    background: #151312;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;


}

header{
    width:  100%;
    height: auto;
    
}

.hero{
    justify-content: space-around;
    margin-top: 2rem;
    background: none;
    display: flex;
}

.nav {
    
  display: flex;
  gap: 35px;
  padding: 15px 20px;
  border-radius: 15px;
  background: #21201F;
  backdrop-filter: blur(10px);
  justify-content: center;
  width: 350px;
  
}

.nav .special {
    justify-content: center;
  color: #BFC6D1;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.nav .special:hover {
  color: #F98400;
  transform: scale(1.2);
}

.container_main{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
.biographie{
    margin-top: 5rem;
    width: 350px;
    height: 550px;
    background: white;
    border-radius: 20px;
}

img{
    display: block;
    margin: 0 auto;
    object-fit: cover;
    width: 80%;
    border-radius: 10px;
}

h1{
    text-align: center;
    color: #151312;
    font-size: 1.6rem;
    font-weight: bold;
}
.title{
    text-align: center;
    color: #2b2a29;
    font-weight: 600;
}
.block {
   display: flex;
   padding: 30px 40px;
   gap: 10px;
   justify-content: center; 
}

.block1 {
    width: 5rem;
    height: 3.5rem;
    background: #b16105;
    border-radius: 15px;
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center;     
}

.Download_btn{
    display: flex;
    justify-content: center; 
}
.Download {
    width: 15rem;
    height: 3.5rem;
    background: #2b2a29;
    border-radius: 5px;
    display: flex; 
    justify-content: center; 
    align-items: center;  
    text-decoration: none; 
    color: white;
    font-weight: 500;  
    cursor: pointer;
}
.Download:hover{
    background: none;
    transition: 1s;
    background: #7c7469;
    
}
.details{
    margin-top: 5rem;
    width: 700px;
    height: 550px;
    border-radius: 20px;
    height: 100vh;
}
.Recherche{
    display: block;
    width: 500px;
    height: 40px;
    background: #2b2a29;
    text-decoration: none;
    border-radius: 20px;
    padding: 9px 15px;
    cursor: pointer;
}
.a1{
    text-decoration: none;
    color: #a0a0a0;
    display: block;
}
.a1:hover{
    transition: 1s;
    
    color: wheat;
}
.special1:hover{
    transition: 1s;
    
    color: wheat;
}
h2{
    font-size: clamp(3.5rem, 8vw, 6.2rem);
    margin-top: 2rem;
    color: white;
    font-weight: bolder;
    line-height: 1.1;
    
}
span{
    color: #474747;
}
.description{
    width: 70%;
    color: #b8b8b8;
    margin-top: 2rem;
    text-align: justify;
}

@media screen and (max-width:780px) {
    main{
        justify-content: center;
    }
    .container_main{
        flex-direction: column;
        justify-content: center;
        align-items:  center;
        gap: none;
    }

    .details{
       justify-items: center;
    }
    h2{
        text-align: center;
    }
     .Recherche {
        width: 60%;
        height: auto;
        padding: 7px 10px;
        text-align: center;
    }
     .description {
        width: 60%;
        font-size: 0.95rem;
        margin-top: 1.5rem;
        text-align: center;
    }
}


